<div class="user_post">
  <p class="div_title">
    <%= post.title %>
  </p>
  <p class="div_content">
    <%= post.text %>
  </p>
  <p class="div_footer">
    Comments: <%= post.comments_counter %> , Likes: <%= post.likes_counter %>
  </p>