<a class="link_to_user_posts" href="#">
  <div class="user_container">
  <img src=<%= user.photo %> alt=<%= user.name %> class="user_avatar">
  <div class="user_details">
    <h3 class="user_name"><%= user.name %></h3>
    <p class="user_post_counter">
      Number of posts: <b> <%= user.posts_counter %></b>
    </p>
  </div>
</div>
</a>